<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>TUNA works!</title>
  <style>
    .cell-site-state{
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">TUNA.works</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./">Overall <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./ssl">SSL</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="overall">
    <div class="row justify-content-center">
      <div class="col-10">
          <div class="pb-2 mt-4 mb-2">
            <h3>Overall Status</h3>
          </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <table class="table table-bordered table-sm table-hover">
          <thead>
            <tr>
              <td class="text-center" scope="col">Sites \ Prober</td>
              <th class="text-center" scope="col" v-for="name in latestInfo.NodeNames">{{name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="site in latestInfo.Websites">
              <th class="align-middle" scope="row">{{site.Url}}</th>
              <td v-for="(name, node) in latestInfo.NodeNames" v-bind:class="site.Nodes[node].ClassObj">
                <i v-bind:class="site.Nodes[node].Icon"></i> <span class="site-state-line1">{{site.Nodes[node].Line1}}</span>
                <br>
                <small>{{site.Nodes[node].Line2}}</small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="assets/js/popper-1.14.7.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="assets/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/vue-resources.js"></script>
  <script src="assets/js/tunaworks.js"></script>
</body>

</html>